<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<meta charset="UTF-8">
<title>Spring-Boot</title>
</head>
<body>
	<h2 class="h2" style="text-align: center; margin-top: 0px;">Détails d'un employée</h2>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/createEmployee}">Ajouter un employée</a>
				<a class="navbar-brand" th:href="@{/}">Système de gestion des employées</a>
			</div>
		</div>
	</nav>

	<div class="container" style="margin-top: 20px">
		<div class="row">
			<div class="col col-xs-2">
				<p><label>Nom et Prénom: </label>
					<strong th:text="${employee.firstName}"> Prénom </strong>
					<strong th:text="${employee.lastName}"> Nom </strong>
				</p>
				<p><label>Email: </label>
					<strong th:text="${employee.mail}"> Email </strong>
				</p>
				</p><label>Mot de passe: </label>
					<strong th:text="${employee.password}"> Password </strong>
			</div>
		</div>
	</div>
</body>
</html>